:root {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #18191a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  display: flex;
}

body {
  margin: 0;
}

/* --------------------- Header style --------------------- */
.header {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  background-color: #242526;
  padding: 3px 8px 2px 8px;
  outline: 1px solid #393a3b;
  align-items: center;
  position: sticky;
}

.logo {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.search-box {
  display: flex;
  border: none;
  background: #3a3b3c;
  outline: none;
  border-radius: 25px;
  padding: 0px 20px 0px 16px;
  gap: 10px;
  height: 40px;
}

.search-input {
  border: none;
  outline: none;
  background: #3a3b3c;;
}

.search-icon {
  display: grid;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  gap: 4px;
}

.user-dp {
  display: flex;
  padding: 5px;
}

.user-name {
  align-content: center;
  color: #E4E6EB;
  font-weight: 500;
}

/* .user-dp:hover {
  cursor: pointer;
} */

a{
  display: contents;
}

/* --------------------- Header style End --------------------- */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}